<h1>{{user.name}}</h1>
<p>{{user.occupation}}</p>
<br>
<p>{{user.email}}</p>
<br>
{{!-- <p>{{user.newsletter}}</p>
<br>
<p>{{user.prime}}</p> --}}
<div class="links"><a class="links" href="/users/table">Back</a></div>