<h1>Members</h1>
<div class="links">
    <a  href="/users/table">Table View</a>
</div>
<br><br>
<div class="container">
  {{#each users}}
    <div class="item">
      <a href="/users/{{this.id}}"><h3 class="bold">{{this.name}}</h3></a>
      <br>
      <p>{{this.occupation}}</p>
      <div class="actions">
        <a href="/users/{{this.id}}" class="details-button">Expand</a>
        <a href="/users/update/{{this.id}}" class="edit-button">Edit</a>
        <form action="/users/delete/{{this.id}}" method="POST">
          <input type="submit" value="Delete" class="delete-button">
        </form>
      </div>
    </div>
  {{/each}}
</div>
<br><br>
<div class="links">
    <a href="/users/create" class="form">Add new member</a> 
</div>